<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./layout/header.ejs'); %>
    <title>Register</title>
</head>
<body>
    <%- include('./layout/navbar.ejs'); %>
        <div class="container">
            <form action="/api/register" method="post">
                <div class="mb-3">
                    <label for="toname" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="toname" placeholder="Nombre" required name="name">
                </div>
                <div class="mb-3">
                    <label for="tolastname" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="tolastname" placeholder="Apellido" required
                        name="lastname">
                </div>
                <div class="mb-3">
                    <label for="toemail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="toemail" placeholder="nombre@ejemplo.com" required
                        name="email">
                </div>
                <hr>
                <label for="inputPassword1" class="form-label">Contraseña</label>
                <input type="password" id="inputPassword1" class="form-control" aria-labelledby="passwordHelpBlock"
                    required name="password">
                <label for="inputPassword2" class="form-label">Confirma Contraseña</label>
                <input type="password" id="inputPassword2" class="form-control" aria-labelledby="passwordHelpBlock"
                    required name="passwordChecker">
                <div id="passwordHelpBlock" class="form-text">
                    <div id="passwordHelpBlock" class="form-text">
                        <p><strong>Su contraseña debe ser entre 8 - 20 caracteres, contener letras y numeros, y no debe contener espacios, caracteres especiales o emojis.</strong></p> 
                    </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" style="margin-top: 30px;" class="btn btn-primary btn-lg">Registrarse</button>
                </div>
            </form>
        </div>
        <%- include('./layout/script.ejs'); %>
</body>
</html>